

.news3_2,.news3_2_side{
cursor:pointer;}



.for3_1{
color:#0066cc;}


.news2_4,.news2_6,.for2_3,.for2_4,.for3_18,.for3_21,.for3_22,.for3_27,.for3_29,.for3_24,.for3_27,.for3_9,.for3_30{
color:#333333;}
.forum3_31{
color:#38474e;}

.news2_4,.news2_6,.for1_5,.for1_6,.for2_1,.for2_2,.for2_3,.for2_4,.for2_5,.for2_6,.for2_7,.for2_8,.for3_18,.for3_21,.for3_22,.for3_27,.for3_29,.for3_24,.for3_27,.for3_9,.for3_30,.forum3_31{
font-size:12px;}
.for2_13,.for3_1{
font-size:13px;}
.for3_18{
font-weight:bold;}


.for3_1:hover{
text-decoration:underline;}
.for3_1{
text-decoration:none;}


.for2_13,.for3_1{
margin:0px;}

