/*
>ind_8
*/





.ind_1{
clear:both;}


.ind_2,.ind_10,.ind_13,.ind_25{
float:left;}
.ind_17,.ind_19,.ind_14,.ind_26,.ind_15{
float:right;}






.ind_8,.ind_18{
overflow:hidden;}








.ind_21,.ind_20,.ind_6{
width:100%;}
.ind_5,.ind_2,.ind_1{
width:190px;}
.ind_10,.ind_16,.ind_19,.ind_15,.ind_30{
width:160px;}
.ind_7{
width:107px;}
.ind_9{
width:33px;}
.ind_24{
width:194px;}
.ind_22,.ind_29{
width:1%;}
.ind_26{
width:80px;}
.ind_25{
width:70px;}



.ind_1,.ind_3,.ind_2,.ind_4,.ind_21 td,.ind_23{
height:33px;}

















.ind_11{
padding-left:3px;}
.ind_10,.ind_16,.ind_19,.ind_15{
padding-left:20px;}
.ind_4,.ind_21,.ind_30{
padding-left:10px;}
.ind_16,.ind_9{
padding-bottom:10px;}
.ind_10,.ind_16,.ind_4,.ind_3,.ind_25,.ind_9,.ind_19,.ind_15{
padding-right:10px;}
.ind_21{
padding-right:20px;}
.ind_16,.ind_9{
padding-top:10px;}
.ind_13,.ind_14{
padding:5px 0px;}

.ind_10{
padding-top:5px;}
.ind_10{
padding-bottom:5px;}
.ind_7{
padding:7px 20px 8px 20px;}
.ind_8{
padding:10px 0px 10px 0px;}



.ind_8,.ind_18{
margin:0px;
}



.ind_1,.ind_20,.ind_28{
/*background-image: url(http://quitec.org/images/index/index___top_fon.png);
background-repeat:repeat-x;*/}
.ind_4:hover{
background-image: url(http://quitec.org/images/index/index___top_menu_fon_hover.png);
background-repeat:repeat-x;}


.ind_5{
background-color:#191c20;
}


.ind_10:hover{
background-color:#191c20;}

.ind_16{
background-color:#eeeeee;}

.ind_6{
background-color:#eeeeee;}

.ind_16,.ind_21,.ind_1,.ind_28{
border-bottom:1px solid #191c20;}
.ind_5,.ind_11{
border-right:1px solid #191c20;}

.ind_30{
border-left:1px solid #191c20;}




.ind_16{
border-top:1px solid #191c20;}


.ind_6{
border-bottom:1px solid #191c20;}


.ind_15{
background-color:#eeeeee;}



.ind_19{
background-color:#eeeeee;}

.ind_19,.ind_15{
border-bottom:1px solid #191c20;}