.ind_4,.ind_16,.ind_10,.ind_8{
cursor:pointer;}


.ind_12,.ind_13,.ind_17{
color:#ffffff;}
.ind_8{
color:#333333;}

.ind_9{
color:#0066cc;}
.ind_13:hover{
color:#f09007;}


.ind_4,.ind_13,.ind_10,.ind_8,.ind_9,.ind_16,.ind_17,.ind_21,.ind_24{
font-size:12px;}






.ind_12,.ind_8,.ind_17{
font-weight:bold;}








.ind_12,.ind_13{
text-decoration:none;}



.ind_13:hover{
text-decoration:underline;}


