/*
photo1_4

>photo2_12
>photo3_11
>photo2_13
>photo2_15
>photo2_17
>photo2_11
>photo2_10
*/
.photo2_2,.photo2_5,.photo2_7{
position:relative;}


.photo2_2{
z-index:3;}
.photo2_5{
z-index:2;}
.photo2_7{
z-index:1;}


.photo2_5{
left:3px;}

.photo2_5{
top:-245px;}

.photo2_7{
left:6px;}

.photo2_7{
top:-490px;}





.photo1_1,.photo2_6,.photo3_5,.photo3_8{
float:left;}


.photo2_4,.photo2_6,.photo2_9,.photo3_7{
overflow:hidden;}


.photo3_1{
text-align:left;}

.photo3_14{
display:none;}

.photo3_2,.photo3_14{
width:100%;}
.photo3_3{
width:1%;}
.photo1_2{
width:400px;}
.photo2_2,.photo2_5,.photo2_7{
width:200px;}
.photo2_4,.photo2_9{
width:198px;}
.photo2_6{
width:212px;}
.photo3_5{
width:500px;}
.photo3_7{
min-width:180px;}
.photo3_8{
width:50px;}


.photo2_2,.photo2_5,.photo2_7{
height:248px;}
.photo2_6{
height:253px;}
.photo2_3{
height:1px;}
.photo3_7{
height:55px;}
.photo3_8{
height:55px;}
.photo2_14,.photo2_16{
height:40px;}


.photo1_2,.photo3_1{
margin:0px;}
.photo1_1{
margin:10px 0px 0px 10px;}
.photo2_6{
margin:0px 0px 20px 0px;}
.photo2_1{
margin:0px 15px 0px 10px;}
.photo3_5{
margin:10px;}
.photo1_5{
margin:0px 20px 0px 0px;}
.photo3_6{
margin-right:0px;
margin-bottom:0px;
margin-left:520px;
margin-top:10px;}
.photo3_7{
margin-right:10px;
margin-top:0px;
margin-bottom:0px;}
.photo3_8{
margin-right:10px;
margin-bottom:10px;}












.photo3_12{
padding:10px 20px 10px 10px;}
.photo3_4{
padding:0px 20px 0px 0px;}
.photo3_3{
padding:0px 10px 0px 10px;}
.photo1_3{
padding:0px 0px 5px 0px;}
.photo2_4{
padding:7px 0px 5px 0px;}
.photo2_9{
padding:10px 0px 5px 0px;}
.photo3_1{
padding:7px 20px 8px 0px;}
.photo3_13{
padding-left:10px;}

.photo1_1,.photo2_2{
background-color:#ffffff;}
.photo2_8{
background-color:#888888;}



.photo3_10{
background-color:#383d42;}




.photo1_1,.photo2_2,.photo2_5,.photo2_7{
border-right:1px solid #ffffff;
border-bottom:1px solid #ffffff;}



