body {
font-family: sans-serif;
word-wrap:break-word;
font-size:13px;
color:#333333;}
html{
font-size:13px;
font-family: sans-serif;
word-wrap:break-word;
color:#333333;} 


textarea{
font-size:13px;}
input[type="submit"],input[type="button"]{
cursor:pointer;}

.dialog_windows1_3,.dialog_windows1_4{
word-spacing: 0.2ex;}




.warp_normal{
word-wrap: normal;}



a,input[type="submit"],input[type="button"]{
color:#5a6da2;}


a:hover,input[type="submit"]:hover,input[type="button"]:hover{
color:#cc6600;
text-decoration:underline;}







.green{
color:#00aa00;}
.red{
color:#aa0000;}
.grey{
color:#2a6aae;}
.blue{
color:#5a6da2;}


.link_noline{
font-size:14px;
text-decoration:none;}


.small_link_noline{
font-size:14px;
text-decoration:none;}

.link_topic{
font-size:15px;
text-decoration:none;
font-weight:bold;}


.link_normal{
font-weight:light;
cursor:pointer;
font-size:13px;
text-decoration:none;}


.link_normal_white{
font-weight:light;
color:#ffffff;
cursor:pointer;
font-size:13px;
text-decoration:none;}
.link_normal_white:hover{
color:#ffffff;}





.link_normal_gold{
font-weight:light;
color:#fff8af;
cursor:pointer;
font-size:13px;
text-decoration:none;}
.link_normal_gold:hover{
color:#fff8af;}





.panel_link_dark{
font-size:17px;
font-weight:bold;
text-decoration:none;}

.panel_text_dark{
font-size:17px;
font-weight:bold;}

.panel_text_dark_small{
font-size:13px;
font-weight:bold;}


.content_dark{
font-weight:light;
color:#333333;
text-align:justify;
word-wrap:break-word;
font-size:13px;}



.explanation_dark{
font-weight:light;
text-align:justify;
word-wrap:break-word;
color:#555555;
font-size:11px;}



.explanation_grey{
font-weight:light;
text-align:justify;
word-wrap:break-word;
color:#888888;
font-size:11px;}






















.PagesCounterCurPage{
font-size:15px;
font-weight:bold;
text-decoration:underline;}
.PagesCounterPagesList{
font-size:15px;}
.PagesCounterFinishPage{
font-size:15px;
color:#555555;}
.PagesCounterPagesListURL{
text-decoration:none;
font-size:15px;}
.PagesCounterFinishPageURL{
text-decoration:none;
font-size:15px;}










.refimage,
.small_dark_link,
.huge_link_line,
.small_link_h1,
.big_link_h1,.big_link,
.small_link,
.big_link_head,
.PagesCounterPagesListURL,.PagesCounterOneLeft,.PagesCounterAllLeft,.PagesCounterOneRight,.PagesCounterAllRight,.PagesCounterOneLeftArrow,.PagesCounterOneRightArrow,
.submit_registration,.submit_enter,.submit_quit,.submit_findlight,.submit_citate,.submit_redact,.submit_new_topic,.submit_ask,
.talking_url_img_main,.talking_quote_img_main,.talking_redactor_img_main,.talking_smiles_img_main,.talking_ifaces_img_main,.talking_tables_img_main{
cursor:pointer;}

.work_width_photo_1_new,.marker_text_blue_big,.marker_text_grey_big,.big_text_light,.marker_text_green_big,.signature_marker_1,.signature_marker_2,
.text_18_light_bold{
color:#ffffff;}
.small_link_h1,.big_text_blue,
.big_link_h1,.huge_link_line:hover,.big_link,
.huge_link_line,.huge_link,.huge_text_blue,
.small_link,
.big_link_head{
color:#0066cc;}
.small_dark_link:hover,.link12:hover,.link14:hover,
.big_link_h1:hover,.big_link:hover,
.small_link:hover,
.small_link_h1:hover,.huge_link:hover,
.big_link_head:hover{
color:#f09007;}







.small_dark_link,.tiny_grey_text,
.explanation,
.page_tree_delimiter,
.dialog_windows1_4,
.text_12_grey{
color:#2a6aae;}
.big_text_head,.huge_text_h1,.big_text_h1,.huge_text,
.p_small_text_h1,.p_big_text_h1,.big_text,.big_text_bold,
.h1_big,.link12,.link14,
.ask_in_chat,
.dialog_windows1_3,.dialog_windows1_8,
.work_width_photo_1_redact,.panel_1_grey,.work_width_photo_4,
.text_12_dark{
color:#333333;}


.white{
color:#333333;}






.tiny_grey_text,.dialog_windows1_4{
font-size:10px;}
.big_link_h1,.big_text_h1,.big_link,.big_text,.big_text_blue,.big_text_bold,.marker_text_blue_big,.marker_text_grey_big,.attention_1,.attention_2,.attention_3,.marker_text_green_big,
.p_small_text_h1,.small_link,
.explanation,
.big_text_head,.big_text_light,.ask_in_chat,
.small_dark_link,
.small_link_h1,
.big_link_head,
.dialog_windows1_3,.dialog_windows1_8,
.work_width_photo_4{
font-size:12px;}


.text_12_dark,.text_12_grey,.link12{
font-size:13px;}


.huge_text_h1,.huge_text,
.huge_link_line,.huge_link,.huge_text_blue,
.h1_big,.p_big_text_h1{
font-size:14px;}

.link14{
font-size:14px;}



.text_18_light_bold{
font-size:18px;}

.big_link_h1,.big_text_h1,.big_link,.big_text_bold,
.huge_link_line,.huge_link,.huge_text_blue,
.huge_text_h1,.huge_text,
.h1_big,
.big_text_head,
.big_link_head,
.work_width_photo_4,.ask_in_chat,
.text_18_light_bold{
font-weight:bold;}


.huge_link_line:hover,.huge_link_line,.small_link:hover,.small_link,.small_link_h1:hover,.small_dark_link,.small_dark_link:hover,.link12:hover,.link14:hover,
.big_link_head:hover{
text-decoration:underline;}
.big_link_head,.small_link_h1,.big_link_h1,.big_link,.link12,.link14,
.huge_link,.huge_link:hover,.huge_text_blue{
text-decoration:none;}

.big_link_h1,.small_link_h1,.big_text_h1,.p_small_text_h1,.p_big_text_h1{
line-height:18px;}/*сверху отступ 3, снизу 2 пиксела*/

.huge_text_h1,.work_width_photo_6{
line-height:21px;}/*сверху отступ 3, снизу 2 пиксела*/

.huge_text_h1,.p_small_text_h1,.p_big_text_h1,.h1_big,.attention_1,.attention_2,.attention_3{
margin:0px;}



.marker_text_blue_big,.attention_1,.attention_2,.attention_3,.marker_text_green_big,.marker_text_grey_big{
padding:2px;}


.marker_text_blue_big{
background-color:#0066cc;}


.marker_text_grey_big{
background-color:#444444;}





.attention_1{
background-color:#f6f4ee;}

.marker_text_green_big{
background-color:#41e141;}

.attention_1{
border:1px solid #f09007;}


.attention_2{
border:1px solid #5a89b7;}

.attention_2{
background-color:#eaf0f5;}




.attention_3{
border:1px solid #9fdf82;}

.attention_3{
background-color:#f0f5ed;}



















.tovar_grup_mix_pict{}
.tovar_grup_mix_name{
color:#5a6da2;
font-weight:bold;
font-size: 14px;
text-decoration:none;}
.tovar_grup_mix_name:hover{
font-weight:bold;
font-size: 14px;
color:#cc6600;
text-decoration:underline;}
.tovar_grup_mix_desc{
color:#333333;
font-size: 12px;}
.tovar_grup_mix_price{
color:#cc3333;
font-weight:bold;
font-size: 14px;}
.tovar_grup_mix_merch,.tovar_grup_mix_merch:hover{
color:#aaaaaa;
font-size: 11px;
text-decoration:none;}
