 div.ad_imageEd3 {float:left;max-width:190px;max-height:190px;padding:5px} 
 
 div.ad_imageEd3 img {max-width:180px;max-height:180px;} 
 
 div.ad_fieldsEd3 {margin-left:190px;padding:5px;font-size:12px;min-height:150px;} 
 
 div.ad_fieldsEd3 div {margin-bottom:10px;} 
 
 div.ad_fieldsEd3 div b {font-weight:bold;} 
 
 div.ad_fieldsEd3 div span {color:#159700;}
 
 div.ad_fieldsEd3 a {font-size:14px;font-weight:bold;}