/*for3_33

>
>for2_10
>for2_11
>for2_12
>for2_13
*/

.for1_7,.for2_9,.for2_14{
clear:both;}

.for1_3,.for2_4,.for3_16,.for3_32{
float:left;}
.for1_1,.for1_2,.for1_4,.for1_5,.for2_1,.for2_2,.for2_3,.for2_5,.for2_6,.for2_7,.for3_22,.forum3_31{
float:right;}


.for1_2,.for1_5,.for2_2,.for2_3,.for2_6,.for2_7{
text-align:center;}
.for1_1,.for1_4,.for2_1,.for2_5{
text-align:right;}
.for1_3,.for1_6,.for2_4,.for3_5,.for3_18{
text-align:left;}





.for2_8{
margin:0px 358px 0px 0px;}
.for1_6{
margin:0px 444px 0px 0px;}
.for3_5,.for3_18,.for3_15,.for3_24{
margin:0px;}
.for3_2{
margin:0px 0px 10px 10px;}

.for3_25{
margin-bottom:10px;}

.for3_7,.for3_12,.for3_13,.for3_27{
width:100%;}
.for3_6,.for3_11,.for3_23,.for3_28,.for3_9{
width:1%;}
.for3_4,.for3_3{
width:99%;}
.for1_4{
width:270px;}
.for1_1{
width:380px;}
.for1_2{
width:42px;}
.for1_5{
width:44px;}
.for2_3{
width:100px;}
.for2_2{
width:100px;}
.for2_6{
width:92px;}
.for2_7{
width:82px;}
.for2_1{
width:164px;}
.for2_5{
width:154px;}
.for3_15{
width:195px;}
.for3_19,.for3_25{
width:225px;}

.for3_21,.forum2_15{
height:40px;
}




.for1_2,.for1_5,.for2_2,.for2_3,.for2_6,.for2_7{
padding:10px 0px;}
.for1_1,.for2_1{
padding:10px 20px 10px 0px;}
.for1_3,.for2_4{
padding:10px 0px 10px 10px;}
.for2_5{
padding:10px 20px 10px 10px;}
.for3_2{
padding:10px;}
.for2_15{
padding:10px 20px 10px 10px;}
.for1_4{
padding:7px 20px 10px 10px;}
.for1_6,.for2_8{
padding:7px 10px 10px 10px;}
.for3_5,.for3_14{
padding:7px 20px 8px 10px;}
.for3_30{
padding:0px 0px 5px 10px;}
.for3_20{
padding:10px;}
.for3_10,.for3_18{
padding:5px 0px 5px 10px;}
.for3_11{
padding:7px 10px 5px 10px;}
.for3_22{
padding:5px 20px 5px 0px;}
.for3_6{
padding:0px 10px 0px 10px;}
.for3_8{
padding:0px 20px 0px 0px;}
.for3_19{
padding:0px 20px 10px 0px;}
.for3_2{
padding:10px;}
.for3_16{
padding:10px 10px 10px 0px;}
.for3_17{
padding:7px 0px 10px 0px;}
.for3_15{
padding:0px 10px 0px 10px;}
.for3_24{
padding:0px 10px 10px 0px;}
.for3_28,.for3_9,.for3_32,.for3_26{
padding-right:10px;}
.forum3_31{
padding-right:20px;}
.for3_9,.for3_3,.for3_28,.for3_4{
padding-bottom:10px;}
.for3_33{
padding-top:5px;}


.for3_18{
background-color:#eeeeee;}


.for3_12{
background-color:#eeeeee;
/*background-image: url(http://quitec.org/images/texture/wood_long.png);
background-repeat:repeat;*/}




.for3_2{
background-color:#ffffff;}


.for3_2{
border:1px solid #aaaaaa;}
.for3_12,.for3_18{
border-top:1px solid #191c20;}
.for1_7,.for3_12,.for3_18,.for3_15,.for3_14,.for3_9,.for3_3{
border-bottom:1px solid #191c20;}

.for3_15{
border-right:1px solid #191c20;}

.for2_9,.for2_14{
border-bottom:1px solid #e0e0e0;}



