/*


>automarket3_5


*/
.photo2_2,.photo2_5,.photo2_7{
position:relative;}


.photo2_2{
z-index:3;}
.photo2_5{
z-index:2;}
.photo2_7{
z-index:1;}


.photo2_5{
left:3px;}

.photo2_5{
top:-245px;}

.photo2_7{
left:6px;}

.photo2_7{
top:-490px;}



.photo2_10{
clear:both;}

.automarket3_4,.automarket3_5,.automarket3_7{
float:left;}


.automarket3_4,.automarket3_6{
overflow:hidden;}


.photo3_1{
text-align:left;}

.photo3_14{
display:none;}




















.automarket2_5,.automarket2_7{
width:99%;}
.automarket2_4,.automarket2_6{
width:1%;}
.automarket2_3{
width:100%;}
.photo3_3{
width:1%;}
.photo1_2{
width:400px;}
.photo2_2,.photo2_5,.photo2_7{
width:200px;}
.photo2_4,.photo2_9{
width:198px;}
.photo2_6{
width:212px;}
.photo3_5{
width:500px;}
.photo3_7{
min-width:180px;}
.photo3_8{
width:50px;}
.automarket2_2{
width:225px;}
.submit_sort_taz,.submit_sort_auto,.submit_sort_else,.submit_sort_buy{
width:99px;}





.submit_sort_taz,.submit_sort_auto,.submit_sort_else,.submit_sort_buy{
height:47px;}
.photo2_6{
height:253px;}

.photo2_2,.photo2_5,.photo2_7{
height:248px;}
.photo2_6{
height:253px;}
.photo2_3{
height:1px;}
.photo3_7{
height:55px;}
.photo3_8{
height:55px;}
.automarket2_1{
height:100px;}


.photo1_2,.photo3_1{
margin:0px;}
.automarket3_5{
margin:0px 0px 10px 10px;}
.photo2_6{
margin:0px 0px 20px 0px;}
.photo2_1{
margin:0px 15px 0px 10px;}
.photo3_5{
margin:10px;}
.photo1_5{
margin:0px 20px 0px 0px;}
.photo3_6{
margin-right:0px;
margin-bottom:0px;
margin-left:520px;
margin-top:10px;}
.photo3_7{
margin-right:10px;
margin-top:0px;
margin-bottom:0px;}
.photo3_8{
margin-right:10px;
margin-bottom:10px;}
.automarket3_2{
margin:0px 5px 5px 0px;}

.automarket3_2_side{
margin:0px 0px 5px 0px;}
.automarket2_2{
margin-bottom:10px;}























.automarket2_6,.automarket2_7{
padding-bottom:10px;}
.automarket2_6{
padding-right:10px;}
.automarket3_1{
padding:7px 10px 8px 10px;}
.automarket2_5{
padding-bottom:10px;}
.photo3_12{
padding:10px 20px 10px 10px;}
.photo3_4{
padding:0px 20px 0px 0px;}
.photo3_3{
padding:0px 10px 0px 10px;}
.photo1_3{
padding:0px 0px 5px 0px;}
.photo2_4{
padding:7px 0px 5px 0px;}
.photo2_9{
padding:10px 0px 5px 0px;}
.photo3_1{
padding:7px 20px 8px 0px;}
.automarket3_6{
padding-left:10px;}
.automarket2_4{
padding-right:10px;}
.automarket2_4{
padding-bottom:10px;}



.photo1_1,.photo2_2{
background-color:#ffffff;}
.photo2_8{
background-color:#888888;}



.automarket3_8{
background-color:#333333;}







.submit_sort_taz{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_taz.png);
background-repeat:no-repeat;}
.submit_sort_taz:hover{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_taz_hover.png);
background-repeat:no-repeat;}
.submit_sort_auto{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_auto.png);
background-repeat:no-repeat;}
.submit_sort_auto:hover{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_auto_hover.png);
background-repeat:no-repeat;}

.submit_sort_else{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_else.png);
background-repeat:no-repeat;}
.submit_sort_else:hover{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_else_hover.png);
background-repeat:no-repeat;}
.submit_sort_buy{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_buy.png);
background-repeat:no-repeat;}
.submit_sort_buy:hover{
background-image: url(http://quitec.org/images/automarket/automarket___submit_sort_buy_hover.png);
background-repeat:no-repeat;}






.automarket2_7{
border-bottom:1px solid #191c20;}
.photo1_1,.photo2_2,.photo2_5,.photo2_7{
border-right:1px solid #ffffff;
border-bottom:1px solid #ffffff;}
.automarket2_6{
border-bottom:1px solid #191c20;}
.automarket3_8{
border:1px solid #383d42;
}

.photo2_10{
border-bottom:1px solid #191c20;}